* {
  box-sizing: border-box;
}

.page {
  background-color: rgb(85, 43, 43);
  background-image: url(../image/back.jpg);
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: -1;
}

.png {
  background-image: url(../image/back2.png);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 50vh;
  height: 50vh;
  top: 2vh;
  right: 2vw;
  position: fixed;
  display: flex;
  z-index: 1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1280px;
  z-index: 0;
}

.nav {
  margin-top: 25px;
  margin-bottom: 25px;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2px;
  justify-content: left;
}
.navbar-item {
  background-color: #b8ad7c;
}
.navbar-link {
  text-decoration: none;
  padding: 1em 1em;
  display: block;
  border: 4px dotted wheat;
}

.navbar-link:hover {
  color: yellow;
  border: 4px dotted yellow;
}

body {
  margin: 0;
}

h1 {
  color: rgb(221, 208, 85);
  text-align: center;
  font-size: 5em;
  font-family: "Rubik Moonrocks", cursive;
}
h2 {
  color: #d8c573;
  font-size: 3em;
  font-family: "Rubik Moonrocks", cursive;
}
h3,
h4,
p,
li a {
  font-size: 1.5em;
  color: white;
  font-family: "Exo 2", sans-serif;
}

/*font-family: 'Rubik Moonrocks', cursive; */
/* font-family: 'Exo 2', sans-serif; */
