* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.back {
  background-color: gray;
  background-image: url(../image/back2.png), url(../image/back.jpg);
  background-repeat: no-repeat, repeat;
  background-size: 10%, auto;
  background-position-x: 85vw, 0;
  background-position-y: 4vh, 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: -1;
}
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 1280px;
  min-height: 100vh;
  color: lavender;
  font-size: 20px;
  z-index: 0;
  font-family: "Exo 2", sans-serif;
}
.mainheader {
  color: black;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 4em;
  left: 50px;
}
.secondheader {
  color: goldenrod;
}
.menu-list {
  display: flex;
  gap: 2px;
  list-style: none;
}
.link {
  padding: 0.3em;
  margin: 2px;
  color: peru;
  background-color: gold;
  border: 3px solid black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.link:hover {
  background-color: white;
  color: black;
  border: 3px inset black;
}
.art-header {
  text-decoration: none;
  color: yellow;
  border-bottom: 3px dotted black;
}
.description {
  background-color: orange;
  color: black;
}
.link-art {
  color: black;
}
.link-std {
  color: goldenrod;
  text-decoration: none;
}
.link-com {
  color: goldenrod;
}
.link-art:hover,
.link-com:hover,
.link-std:hover,
.art-header:hover {
  text-decoration: none;
  color: white;
}
.article-block .secondheader {
  text-align: center;
  color: yellow;
}
.article::first-letter {
  color: yellow;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 2.5em;
  margin: 0.5rem 0.2rem 0.2rem 0;
  float: left;
}
.comments-block {
  border-left: 4px dotted black;
  color: black;
  padding: 15px;
}
.comments-block > h3,
strong {
  color: white;
}
/* Каталог */
.catalog {
  background-color: rgba(255, 255, 255, 0.255);
  padding: 50px;
}
.category > li {
  list-style: none;
  font-family: "Rubik Moonrocks", cursive;
  font-size: 1.2em;
  position: relative;
  padding: 0 0 0 30px;
}
.category > li::before {
  content: "";
  background-image: url(../image/catalog1.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 5px;
  left: 3px;
}
.punkt > li {
  list-style: none;
  font-family: "Exo 2", sans-serif;
  font-size: 0.8em;
  position: relative;
  padding: 0 0 0 30px;
}
.punkt > li::before {
  content: "";
  background-image: url(../image/catalog2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 2px;
  left: 3px;
}
.new::after {
  content: "new";
  background-color: orange;
  font-size: 0.7em;
  margin: 0 0 0 5px;
}
/* контакты */
.fldset {
  max-width: 600px;
}
.intext {
  display: block;
  padding: 0.5em;
  min-width: 50%;
}
.txtlbl {
  line-height: 2.3rem;
}
.txtarea {
  width: 100%;
  resize: vertical;
  max-height: 50vh;
}
.imphead {
  color: yellow;
}
/* регистрация */
.register {
  background-color: rgba(0, 0, 0, 0.255);
  margin: 0 auto;
  text-align: center;
}
.register > div > .intext {
  margin: 0 auto;
}
/* навигация */
.item {
  list-style: none;
  line-height: 2rem;
  position: relative;
}
.item::before {
  content: "";
  background-image: url(../image/catalog2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 4px;
  left: -20px;
}
/* галлерея */
.gallery {
  background-image: url(../image/catalog2.png);
  background-size: 2vw;
}
.gallery-item {
  display: block;
  padding: 5px;
}
.gallery-link {
  display: inherit;
  border: 3px solid black;
  margin: 10px auto;
  padding: 5px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  width: 75vh;
}
.gallery-link:hover {
  border: 3px solid rgba(0, 0, 0, 0);
}
.gallery-image {
  padding: 1em;
  display: inherit;
  width: 100%;
  margin: 0 auto;
}
/* главная */
.ind-content {
  background-color: rgba(0, 0, 0, 0.255);
  padding: 10px 10px;
  position: relative;
  min-height: 65vh;
  font-size: 2.2vh;
}
.ind-img {
  max-width: 250px;
  float: left;
  margin: 0 10px;
}
footer {
  position: static;
  bottom: 0;
}

/*font-family: 'Rubik Moonrocks', cursive; */
/* font-family: 'Exo 2', sans-serif; */
